{% extends 'movie/base/base.html' %}


{% block title %} My Specia home page {% endblock %}

{% block main_title %} Welcome {{ name }}, to our home page {% endblock %}

{% block content %}
<form action="{% url 'homepage' %}">
    <div class="mb-3">
      <label for="searchMovie" class="form-label">Search for Movie:</label>
      <input type="text" name="searchMovie" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Search for Movie</button>
  </form>

  Searching for {{ searchTerm }}
<br />
<br />
<h2>Join our mailing list:</h2>
  <form action="{% url 'signuppage' %}">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" />
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
<br />
<br />

<table>
  <header>
    <title> Check out our list of movies </title>
    <tr>
      <td>Movie Title</td>
      <td>Movie Description</td>
      <td>Movie Image</td>
      <td>Movie link</td>
    </tr>
  </header>

<body>
  {% for movie in movies %}
  <tr>
    <td>{{ movie.title }}</td>
    <td>{{ movie.description }}</td>
    <td><img src="{{ movie.image.url }}"></td>
    {% if movie.url %}
    <td><a href="{{ movie.url }}">Go To The Movie Link</a></td>
    {% endif %}
  </tr>
 
</body>
{% endfor %}

</table>
  {% endblock %}